@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Super Administrador</h1>
    <p>Acceso a cambios en la administracion de la aplicación. Siempre consulta base de datos</p>

    <img src="https://us.123rf.com/450wm/hasbygraphic/hasbygraphic2306/hasbygraphic230600231/206890002-dise%C3%B1o-plano-de-aprendizaje-en-l%C3%ADnea.jpg?ver=6">
    <p>Acceso a cambios en la administracion de la aplicación. Siempre consulta base de datos</p>
</div>
